/*Никиткины изменения старт*/
.history
{
    overflow: scroll;
    width: 50%;
    height: 500px;
	margin: 15px 6%;
	margin-right: 0px;	
    color: black;
    background-color: white;
	opacity: 0.8;
	border-radius: 7px;
}
.dimon-comp {
width: 50%;
margin-left: 10px;
margin-right: 10px;
margin-top: 15px;
}

#buttons {
	margin-left: -30px;
}

 #div-swp-btn{
 	margin-left: -15px;
 	margin-top: 10px;
 	margin-bottom: 10px;
 }

 .m-b-10 {
 	margin-bottom: 10px;
 }

 /*Никиткины изменения конец*/

.header{
	background: white;
	
	text-align: center;
	font-size: 20px;
	opacity: 0.8;
	
	margin: 0 auto;
}
h1{
	
	color: black;
	opacity: 2;
}
.inputfield{
	width: 50%;
	margin: 5px 0px 0px;
	border: 5px solid white;
	border-radius: 7px;
	
}
.inputfield:focus{
	outline: 0px;
}

body {
	background: rgb(19,36,117);
	background: linear-gradient(90deg, rgba(19,36,117,1) 0%, rgba(52,151,182,1) 28%, rgba(54,63,190,0.9948354341736695) 100%);
}

.polynoms, #outputPolynom, .input-label {
	color:white;
	font-size: 30px;
	font-family: "Arial", "sans-serif";
}

#firstpolynom{
	padding: 1000px 0px 0px 0px;
}
button:focus{
	outline: 0px;
}

#cycl{
	width: 70px;
}
/*#swap{
	width: 45px;
}*/
.input-label{
	font-size: 20px;
}
#sign{
	padding:0px;
}

/*
#outputPolynom{
	padding: 0px;
}

#output{
	margin: 0px;
}
*/
